<html>
<head>
    <title>杏仁搜索</title>
</head>
<link rel="stylesheet" href="//layui.hcwl520.com.cn/layui/css/layui.css?v=201811010202" media="all">
{% load static %}
<link href="{% static "css/search.css" %}" rel="stylesheet" type="text/css"/>

<body style="background-color: #F2F2F2;">
<div class="layui-row layui-col-space15">
    <fieldset class="layui-elem-field layui-field-title" style="text-align: center;margin-top: 100px">
        <legend><h1><a href="/">杏仁</a></h1></legend>
    </fieldset>


    <div class="layui-card" style="width: 600px;margin: auto">
        <div class="demoTable" style="text-align: center;margin-top: 10px;margin-bottom: 10px">
            <div class="layui-inline" style="width: 400px;margin-left: 5px;">
                <input class="layui-input" id="search" onchange="hideSuggest()"
                       value="{{ key_word | default:"" }}" autocomplete="off">
            </div>
            <button class="layui-btn" id="btn" onclick="doSearch()">搜索</button>
            <div class="auto_hidden" id="auto"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static "js/search.js" %}"></script>
</body>
</html>